
$blue: #00f;

//  Fonts

$body: "Helvetica Neue";

@mixin rounded($radius: 10px) {
 -moz-border-radius: $radius;
 -webkit-border-radius: $radius;
 border-radius: $radius;
}

@mixin clear_fix {
  &:after {
  	content: ".";
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
  }
}

.text_replace {
  display: block;
  text-indent: -9999px;
}

.block_list {
  display: block;
  list-style: none;
  li {
    display: block;
  }
}

.button_list {
  @extend .block.list;
  li {
    padding: 0;
    a {
      display: block;
      text-decoration: none;
    }
  }
}

.button {
  padding: 3px 8px 4px;
  background: $blue;
  @include rounded;
  color: white;
  text-decoration: none;
}

@mixin application {
 
 section, aside, nav, header, footer, code {
   display: block;
 }
 
 body {
   font: 13px/15px $body;
 }
 
 h1 {
   margin: 1em 0;
   font: bold 20px $body;
 }
  
}